:root {
	--playground-bg: #ffffff;
	--board-bg: #eaeaea;
	--btn-bg-1: #4a9bfa;
	--btn-bg-2: #ff8933;
	--ship-bg: #626367;
	--ship-hit-bg: #ff5151;
	--empty-hit-bg: #00e075;
	--cell-highlight: #4a9bfa;
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

#play-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70%;
	background-color: var(--playground-bg);
	border-radius: 0 0 8px 8px;
}

.maximized {
	height: 80% !important;
}

#gameboard-1,
#gameboard-2 {
	height: 22.2rem;
	width: 22.2rem;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.win {
	transform: scale(1.1);
}

.lose {
	opacity: 0.8;
	transform: scale(0.9);
}

.grid-cell,
.grid-cell-enemy,
.grid-cell-player {
	height: 2rem;
	width: 2rem;
	padding: 0;
	margin: 0.1rem;
	display: inline;
	border: none;
	border-radius: 4px;
	background-color: var(--board-bg);
}

.grid-cell-enemy,
.grid-cell-player {
	cursor: pointer;
}

.grid-cell-enemy:hover,
.grid-cell-player:hover {
	border: 3px solid var(--cell-highlight);
}

.ship {
	background: var(--ship-bg);
}

.ship-hit {
	background: var(--ship-hit-bg);
}

.empty-hit {
	background: var(--empty-hit-bg);
}

#control-area {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 30%;
}

.minimized {
	height: 20% !important;
}

#container {
	display: flex;
	height: 100%;
	width: 80%;
	max-width: 600px;
	border-radius: 8px;
	justify-content: space-around;
	align-items: center;
}

#place-ship {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#place-ship p {
	font-family: sans-serif;
	font-size: 1.25rem;
	margin: 0;
}

#place-ship p:first-of-type {
	font-weight: 600;
}

#btn {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

#reset-btn,
#start-game-btn,
#rotate-btn,
#new-game-btn {
	background-color: var(--btn-bg-1);
	border: none;
	border-radius: 6px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	width: 6rem;
	height: 2.5rem;
	cursor: pointer;
	outline: none;
}

#rotate-btn {
	background-color: var(--btn-bg-2);
}

#reset-btn:hover,
#start-game-btn:hover,
#rotate-btn:hover,
#new-game-btn:hover {
	opacity: 0.85;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 1rem;
	width: 15%;
	border-radius: 6px;
	font-size: 1.25rem;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 730px) {
	#play-area {
		flex-direction: column;
		justify-content: space-between;
		overflow: auto;
	}

	#gameboard-1,
	#gameboard-2 {
		margin: 2rem auto;
	}
}
